Repository raccoonshome/raccoon, pull requests merged in 2023-08, with the labels that each got.

#17 [RACCOON] 이슈 템플릿 생성
  .github/ISSUE_TEMPLATE/-hw--새로운-과제-이름-#숫자.md
  .github/ISSUE_TEMPLATE/-raccoon--새로운-너구리.md
Labels: enhancement, jihyeon

#19 [ADD] PR 템플릿 추가 / 머지 및 rebase 충돌 해결
  .github/ISSUE_TEMPLATE/pull_request_template.md
Labels: jihyeon

#27 [RENAME] pull_request_template.md 경로 변경
  .github/pull_request_template.md
Labels: documentation

#28 [ADD] 밴딩 머신 파일 추가
  hyunwoo_banding/banding.css
  hyunwoo_banding/banding.html
  hyunwoo_banding/img/coke1.png
  hyunwoo_banding/img/coke2.png
  hyunwoo_banding/img/coke3.png
  hyunwoo_banding/img/coke4.png
  hyunwoo_banding/img/coke5.png
  hyunwoo_banding/img/coke6.png
  hyunwoo_banding/img/logo.png
Labels: hyunwoo

#33 [ADD] 메인페이지 추가 및 로그인 모달창 추가
  gunhe_login-form/images/check-box.svg
  gunhe_login-form/images/check-box1.svg
  gunhe_login-form/images/close.png
  gunhe_login-form/images/facebook.png
  gunhe_login-form/images/google.png
  gunhe_login-form/images/images/checkmark.png
  gunhe_login-form/images/kakao.png
  gunhe_login-form/images/naver.png
  gunhe_login-form/index.html
  gunhe_login-form/login-form.css
  gunhe_login-form/login-form.js
  index.html
Labels: gunhe

#34 [MODIFY] 메인페이지 개인 과제 추가
  .gitignore
Labels: junha

#35 [ADD] FOX 및 버킷리스트 추가 & index.html a태그에 경로 추가
  hyunwoo_bucketlist/index.html
  hyunwoo_fox/challenges/.DS_Store
  hyunwoo_fox/challenges/images/animal01.png
  hyunwoo_fox/challenges/images/animal02.png
  hyunwoo_fox/challenges/images/animal03.png
  hyunwoo_fox/challenges/images/animal04.png
  hyunwoo_fox/challenges/images/animal05.png
  hyunwoo_fox/challenges/images/animal06.png
  hyunwoo_fox/challenges/images/animal07.png
  hyunwoo_fox/challenges/images/animal08.png
  hyunwoo_fox/challenges/images/animal09.png
  hyunwoo_fox/challenges/images/bg.png
  hyunwoo_fox/challenges/images/green.png
  hyunwoo_fox/challenges/images/point.png
  hyunwoo_fox/challenges/index.html
  hyunwoo_fox/challenges/preview.fig
  hyunwoo_fox/challenges/preview.png
  hyunwoo_fox/challenges/readme.md
  hyunwoo_fox/challenges/style.css
Labels: hyunwoo

#44 Junha
  chaeyoon_character/README.md
  junha_modal/index.html
  junha_modal/style.css
  junha_motto/index.html
  junha_motto/quote.js
  junha_motto/style.css
  junha_motto_button/index.html
  junha_motto_button/quote.js
  junha_motto_button/style.css
Labels: junha
